body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  width: 400px;
  height: 400px; 
  display: flex;
  flex-direction: column; 
}

.DispContainer {
  padding: 15px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: right;
  background-color: #333;
  border-radius: 10px;
  border: 2px solid aqua;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.3rem;
  color: #282c34;
  flex: 1;
  margin: 5px;
  transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
  background-color: #022338;
  transform: translateY(-2px); 
}

.nameDisplay {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #282c34;
  text-align: center;
  font-weight: bold; 
}

.NameButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: auto; 
}

.NameButtonContainer button {
  width: 100%;
}
